section  {
    padding-top: 60px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

section .texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

section .texto .conteudo {
    text-align: justify;
    padding-top: 20px;
    color: #fff;
}