img.corpo {
    width: 200px;
    height: 200px;
    margin: 10px;
}

section {
    padding-top: 60px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

section .paragrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .paragrafo .infos .titulo {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

section .paragrafo .infos .texto div .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 20px;
}

section .paragrafo .infos .texto div .content p {
    text-align: justify;
}