section {
    padding-top: 60px;
}

/*Texto*/
section .sistema_operacional .Título {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
}
section .sistema_operacional {
    min-height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section .sistema_operacional .Paragrafo_1 , .Paragrafo_2 , .Paragrafo_3 {
    color: #fff;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    padding-top: 40px;
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
}

section #Imagens {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

section #Imagens img {
    width: 40%;
}